@page "/"
@using TwitchManager.Models.Api.Clips.Data
@using TwitchManager.Services.Abstractions

@inject IClipService ClipService

@attribute [StreamRendering]

<PageTitle>Home</PageTitle>

<h1 class="test">Hello, world!</h1>

Welcome to your new app.


Total: @clips.Count

<br/>
@if(clips.Any())
{
    <div>
        Min: @clips.Min(c => c.CreatedAt)
        <br />
        Max: @clips.Max(c => c.CreatedAt)
    </div>
}

@code {

    private List<ClipDataModel> clips = new List<ClipDataModel>();

    protected override async Task OnInitializedAsync()
    {
        clips = await ClipService.GetAllAsync();
    }
}