@page "/show-clip/{id}"
@using TwitchManager.Components.Abstractions
@using TwitchManager.Services.Abstractions

@inherits BaseComponent
@inject IClipService ClipService

@inject IJSRuntime JSRuntime

@rendermode InteractiveServerNotPrerendered

<div class="waiting">

</div>

<iframe src="@(url+"&parent=localhost&autoplay=true&muted=false")" allowfullscreen class="clip-iframe">
</iframe>

@code {

    [Parameter]
    public string Id { get; set; }

    string url = "";
    bool show = false;


    protected override async Task OnInitializedAsync()
    {
        await ExecuteAsync(async () =>
        {
            var clip = await ClipService.GetByIdAsync(Id);
            if (clip != null)
            {
                url = clip.EmbedUrl;
                show = true;
            }
        });
    }
}
