@using Microsoft.AspNetCore.Components.Authorization
@using TwitchManager.Auth
@inherits LayoutComponentBase

<div class="container-fluid" id="main-container">
    <div class="row">
        <AuthorizeView>
            <Authorized>
                <AuthorizeView Policy="@TwitchManagerAuthenticationOptions.ConfiguredPolicy" Context="inner">
                    <Authorized>
                        <div class="col-auto">
                            <NavMenu @rendermode=InteractiveServerNotPrerendered/>
                        </div>
                    </Authorized>
                </AuthorizeView>
            </Authorized>
        </AuthorizeView>
        <main class="col">
            <div class="row mt-3 mx-0">
                <div class="col-12 p-0">
                    @Body
                </div>
            </div>
        </main>
    </div>
</div>

<RadzenComponents @rendermode="@InteractiveServerNotPrerendered" />


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
